{% extends 'base.htm' %}

{% block title %}tasks{% endblock %}

{% block content %}
  <h1>
    Tasks
    <a href="{% url 'todo_list:task_create' %}?next={% url 'todo_list:task_list' %}" class="btn btn-primary">+</a>
  </h1>
  {% if task_list %}
    {% for task in task_list %}
      <hr>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-9">
            <h2 class="h4">
              {{ task.content }}
                {% if task.is_completed %}
                  <span class="text-success">Done</span>
                {% else %}
                  <span class="text-danger">Not done</span>
                {% endif %}
            </h2>
            <p>Created at: {{ task.created_at|date }}, {{ task.created_at|time }}</p>

            {% if task.deadline %}
              <p class="text-danger">Due to: {{ task.deadline|date }}, {{ task.deadline|time }}</p>
            {% endif %}

            {% if task.tags.all %}
              Tags:
              {% for tag in task.tags.all %}
                <span class="badge badge-pill badge-info">{{ tag.name }}</span>
              {% endfor %}
            {% endif %}
            <p class="mt-3">
              Actions:
              <a href="{% url 'todo_list:task_update' pk=task.id %}?next={% url 'todo_list:task_list' %}">Update</a>
              <a href="{% url 'todo_list:task_delete' pk=task.id %}?next={% url 'todo_list:task_list' %}">Delete</a>
            </p>
          </div>

          <div class="col-sm-3">
            {% if task.is_completed %}
              <a href="{% url 'todo_list:task_status_toggle' pk=task.id %}" class="btn btn-light">Undo</a>
            {% else %}
              <a href="{% url 'todo_list:task_status_toggle' pk=task.id %}" class="btn btn-success">Complete</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    There are currently no tasks.
  {% endif %}
{% endblock %}
